@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
  --main-font: "Outfit", sans-serif;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  color: var(--Slate-500);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background: var(--Slate-300);
  font-family: var(--main-font);
  height: 100vh;
  padding: 40px 20px;
}

.main-card {
  background: var(--White);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 330px;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.image-section img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: contain;
  margin: 0;
}

.text-section {
  padding: 0 1.2rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 700px) {
  .main-card {
    width: 330px;
  }
}
